<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create POST</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data" id="sbf">
        {% csrf_token %}
        Title: <input type="text" name='title'>
        Content : <textarea rows="4" cols="50" name='content' form="sbf"></textarea>
        <select name="status" id="">
            <option value="0">Private</option>
            <option value="1">Publish</option>
        </select>
        <input type="file" name="image">
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>