<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME PAGE</h1>
    <hr>
    <ul>
        <li><a href="{% url 'userpost' %}">User Own POST's</a></li>
        <li><a href="{% url 'create' %}">Create</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <hr>
        <li>hello,{{request.user}}</li>
    </ul>
    <hr>
    <form action="" method="get">
    {{search.form}}
    <button type="submit">SEARCH</button>
</form>
    <hr>
    <h3>List of POST</h3>
    <h5>Click on any post to read about it more!</h5>
        <table style="width: 100%;">
        {% for i in data %}
        <tr>
        {% if i.title %}   
        <td><a href="{% url 'show' i.id %}">{{i}}</a></li></td>
        {% endif %}
        </tr>
        
        {% endfor %}
    </table>
   
    
</body>
</html>